{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="jumbotron mt-4">
        <h1 class="display-4">Bienvenue sur le Gestionnaire de Tâches</h1>
        <p class="lead">Organisez vos tâches de manière efficace et productive.</p>
        <hr class="my-4">
        <p>Commencez dès maintenant à gérer vos tâches en vous connectant ou en vous inscrivant.</p>
        {% if not app.user %}
            <a class="btn btn-primary btn-lg" href="{{ path('app_login') }}" role="button">Connexion</a>
            <a class="btn btn-success btn-lg" href="{{ path('app_register') }}" role="button">Inscription</a>
        {% else %}
            <a class="btn btn-primary btn-lg" href="{{ path('app_task_index') }}" role="button">Voir mes tâches</a>
        {% endif %}
    </div>
{% endblock %}
